<p>
    <h2>Описание</h2>

    <p><strong>Rb</strong> разработана для быстрого создания <i>информационных систем</i> с вэб интерфейсом и SQL или NoSQL <i>источниками данных</i>.


Основа Rb - <i>сервер приложений</i> Impress Application Server и <i>SPA вэб приложение</i> реализующее интерфейс пользователя.


В двух словах, разработка вэб приложения для работы с базами с использованием <i>Rb</i> сводится к следующим шагам:

    <ol type="1">
        <li>получение схемы базы данных: таблицы и их структура, связи (внешние ключи);</li>
        <li>включение в пустую модель выбранных таблиц (источников данных);</li>
        <li>применение к выбранным источникам данных связей из схемы базы данных (опционально);</li>
        <li>добавить недостающие связи и/или удалить ненужные;</li>
        <li>настройка свойств источников данных и свойств полей/столбцов: заголовки, фильтры и сортировки по умолчанию, возможность редактирования и сохранения данных и т.д.;</li>
        <li>настройка  полей/столбцов источников данных  визуальных компонентов для отображения и/или редактирования данных;</li>
        <li>создание форм и приложений;</li>
        <li>присвоение модели названия и сохранение.;</li>
    </ol>

    <p>В результате выполнения этих шагов будет создано вэб приложение позволяющее просматривать и редактировать данные в соответствие с настройками. При изменении выбранной записи выполняется обработка связей. При этом происходит загрузка записей в связанные источники данных.</p>
    <p>На данный момент для отображения строк источников данных используется основной UI компонент <i>RbTable</i>. RbTable позволяет просматривать, сортировать и фильтровать записи. В процессе тестирования компонент <i>RbTreeTable</i></p>
    <p>Редактирование записей производится в генерируемой для каждого источника данных форме. Для изменения значений полей/столбцов (выбора значений) и/или фильтрации записей могут использоваться компоненты: <i>RbList, RbComboBox, RbListOfValues, RbSequencer, RbDataMap, RbLinearProgress, RbColorIcon</i>.</p>


<h2>Основные элементы Rb</h2>

    <p>
        <i>Сервер приложений</i> выполняет функции:
    <ul>
        <li>является мостом между вэб приложением и различными источниками данных;</li>
        <li>обрабатывает запросы вэб приложения к источникам данных;</li>
        <li>выполняет сервисные операции;</li>
        <li>является вэб сервером для раздачи статических файлов вэб приложения.</li>
    </ul>
    </p>

    <p><i>Вэб приложение</i> реализует интерфейс пользователя по работе с источниками данных. Структура вэб приложения состоит из нескольких частей:
    <ul>
        <li>модель;</li>
        <li>приложение;</li>
        <li>форма;</li>
        <li>источник данных;</li>
        <li>связи между источниками данных;</li>
        <li>связывание данных.</li>
    </ul>
    </p>

    <p><i>Модель</i> хранит описание предметной области информационной системы и:
    <ul>
        <li>определяет источники данных, их структуру и связи;</li>
        <li>определяет логически завершенные приложения;</li>
        <li>определяет формы (интерфейс пользователя);</li>
        <li>определяет связь форм и приложений;</li>
        <li>определяет связь источников данных.</li>
    </ul>
    </p>

    <p><i>Приложение</i> объединяет формы в логически завершенную часть информационной системы:
    <ul>
        <li>описание приложения;</li>
        <li>порядок приложения;</li>
        <li>коллекция форм;</li>
        <li>порядок отображения и доступность форм.</li>
    </ul>
    </p>

    <p><i>Форма</i> является основным элементом интерфейса пользователя. Содержит визуальные компоненты связанные и с источниками данных:
    <ul>
        <li>описание формы;</li>
        <li>разметка формы;</li>
        <li>коллекция источников данных;</li>
        <li>распределение визуальных компонентов в сетке разметки формы.</li>
    </ul>
    </p>

    <p><i>Источник данных</i> описывает структуру одного объекта базы данных (обычно это таблица):
    <ul>
        <li>общая информация о базе данных и таблице;</li>
        <li>возможность чтения/записи;</li>
        <li>сортировки и фильтры по умолчанию;</li>
        <li>валидаторы записей;</li>
        <li>иерархическая структура;</li>
        <li>столбцы таблицы (поля источника данных).</li>
    </ul>
    </p>

    <p><i>Столбец таблицы</i> (поле источника данных) определяет тип, хранящейся в источнике (таблице), данных:
    <ul>
        <li>описание;</li>
        <li>возможность чтения/записи;</li>
        <li>сортировки и фильтры по умолчанию;</li>
        <li>визуальные компоненты для отображения и редактирования данных.</li>
    </ul>
    </p>

    <p><i>Связи</i> между источниками данных дают возможность выполнять обновление данных и визуального представления в связанных источниках данных при изменении записи в родительском источнике данных.</p>

    <p><i>Связывание данных</i> позволяет использовать источники данных для заполнения полей в других источниках данных (списки значений) и/или фильтрации при отображении данных.</p>

    <p><i>Транзакции</i>: выполнение всех действий с данными (загрузка, изменение, связи) выполняются с помощью транзакций.</p>


<h2>Схема модели</h2>
    <img src="/docs/rb/en/images/image1.png"/>

<h2>Ядро RB</h2>

    Основу Rb составляет ядро: <strong>Rb::Core</strong>, управляющее данными и их представлениями на основе разрабатываемых пользователем моделей.

    Rb::Core выполняет следующие функции:
    <ul>
        <li>загрузка выбранной модели;</li>
        <li>формирование объектной модели управляющей загрузкой и изменением данных, работой связей и связыванием данных;</li>
        <li>формирование объектной модели визуального представления.</li>
    </ul>

<h2>Практическое руководство</h2>
    Для демонстрации возможностей на сервер загружена тестовая база данных <a href="https://dev.mysql.com/doc/employee/en/&sa=D&ust=1533133925229000">MySQL::Employees test database</a>. Мы будем строить приложение для работы с этой базой данных. Для объяснения работы записаны демонстрационные видео.


<h2>Интерфейс Rb</h2>
    Интерфейс Rb состоит из двух основных частей (смотрите скрины ниже или демо-видео):
    <ul>
        <li>Дизайнер моделей</li>
        <li>Пользовательские приложения</li>
    </ul>

    Главная идея Rb - простота и наглядность для конечного пользователя. Поэтому мы предлагаем ознакомиться с демонстрационными видео и затем <a href="http://rb.orangem.me" target="_blank">испытать Rb в деле</a>.

<h2>Видео пособие</h2>

    <ul>
        <li>Обзорное видео по работе с Rb: <a href="https://youtu.be/zI6LLIwmVW8" target="_blank">Project OranGem.me::RedButton - About</a>;</li>
        <li>Связывание данных для фильтрации записей и списков значений: <a href="https://youtu.be/cQSPrUvU_Jk" target="_blank">Rb::ComboBox Filter & Select from the list</a>;</li>
        <li>Работа с иерархическими данными: загрузка и отображение иерархических данных большого объема (экспериментальная версия): <a href="https://youtu.be/sYl0_jeXecw" target="_blank">Rb::Hierarchical data (experimental)</a>;</li>
        <li>Использование Rb::DataMap и Rb::Gadget для временной трансформации и использования визуальных компонентов для отображения данных: <a href="https://youtu.be/MNmT-sJhSjU" target="_blank">Rb:DataMap && Rb::Gadget</a>;</li>
        <li>Списки значений <a href="https://youtu.be/Kal57hQAdi4" target="_blank">Rb:ListOfValues</a>.  Выбор и заполнение данными полей из связанных источников данных при создании и редактировании записей;</li>
        <li><a href="https://youtu.be/QhFkvVti214" target="_blank">Изменение и удаление записей в представлениях базы данных.</a> В свойствах источника данных указываем базовую таблицу и поля, доступные для обновления;</li>
        <li><a href="https://youtu.be/Uvmvw3lkrbw" target="_blank">Создание записей в связанных источниках данных</a>, заполнение полей данных в соответствии с правилами связывания. Использование списка значений - Rb::ListOfValues и атрибутов полей записей  "Editable" и "Update";</li>
        <li>продолжение следует...</li>
    </ul>


    <h2>Снимки экрана</h2>
    <p>Далее приведены некоторые скриншоты на которых показаны основные элементы интерфейса:</p>


    <p>Designer - конструктор моделей</p>
    <img src="/docs/rb/en/images/image2.png"/>

    <p>Приложения и формы</p>
    <img src="/docs/rb/en/images/image5.png"/>

    <p>Простая форма</p>
    <p><img src="/docs/rb/en/images/image3.png"/></p>

    <p>Еще форма</p>
    <img src="/docs/rb/en/images/image4.png"/>

<h2>Используемые технологии</h2>
    <p>NodeJS, HTML, JS, CSS,  AngularJS,  IAS, MySQL, MongoDB, Oracle.</p>

    </article>
